@model IEnumerable<SisVest.WebUI.Models.CursoModel>

@{
    ViewBag.Title = "Lista de Cursos";
}

<h2>Index</h2>
                      @{
                          if (TempData["Mensagem"] != null)
                          {
                              <h2> <strong>@TempData["Mensagem"] </strong> </h2>
                          }
                      }



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @{
        WebGrid grid = new WebGrid(source: Model,rowsPerPage:3); 
    }
    @grid.GetHtml(columns: grid.Columns(
              grid.Column("    Descricao  ", header: "Curso", format: @<i>@item.Descricao</i>),
              grid.Column("    Vagas   ", header:"Numero de Vagas", format: @<b>@item.Vagas</b>),
              grid.Column("  TotalCandidatos  ", header:"Candidatos Inscritos", format: @<u>@item.TotalCandidatos</u>),
              grid.Column("  TotalCandidatosAprovados  ", header: "Candidatos Aprovados", format: @<u>@item.TotalCandidatosAprovados</u>),
              grid.Column(header: "   ",format: (item) => Html.ActionLink("Editar", "Details", new { idCurso = item.id }),canSort:true),
              grid.Column(header: "   ",format: (item) => Html.ActionLink("Excluir", "Delete", new { idCurso = item.id }),canSort:true)
              )
              )
</table>