@model IEnumerable<SisVest.WebUI.Models.CursoModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
                      @{
                          if (TempData["Mensagem"] != null)
                          {
                              <h2> <strong>@TempData["Mensagem"] </strong> </h2>
                          }
                      }
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @{
        WebGrid grid = new WebGrid(source: Model,rowsPerPage:3); 
    }
    @grid.GetHtml(columns: grid.Columns(
              grid.Column("    Descricao  ", header: "Curso", format: @<i>@item.Descricao</i>),
              grid.Column("    Vagas   ", header:"Numero de Vagas", format: @<b>@item.Vagas</b>),
              grid.Column("  TotalCandidatos  ", header:"Candidatos Inscritos", format: @<u>@item.TotalCandidatos</u>),
              grid.Column("  TotalCandidatosAprovados  ", header: "Candidatos Aprovados", format: @<u>@item.TotalCandidatosAprovados</u>),
              grid.Column(header: "   ",format: (item) => Html.ActionLink("Editar", "Details", new { idCurso = item.id }),canSort:true),
              grid.Column(header: "   ",format: (item) => Html.ActionLink("Excluir", "Delete", new { idCurso = item.id }),canSort:true)
              )
              )

@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vagas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCandidatosAprovados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCandidatos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idCurso =item.ID }) |
            @Html.ActionLink("Details", "Details", new { idCurso  = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { idCurso = item.ID })
        </td>
    </tr>
}*@

</table>
