@model IEnumerable<SisVest.WebUI.Models.CursoModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
                      @{
                          if (TempData["Mensagem"] != null)
                          {
                              <h2> <strong>@TempData["Mensagem"] </strong> </h2>
                          }
                      }
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vagas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCandidatosAprovados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCandidatos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vagas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCandidatosAprovados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCandidatos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idCurso =item.ID }) |
            @Html.ActionLink("Details", "Details", new { idCurso  = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { idCurso = item.ID })
        </td>
    </tr>
}

</table>
